
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body {background: #2c3e50;}
  body, input, #chat-name, #chat-send, .chat-row { padding: 10px; }

  /* #chat-wrap {
   
  }
   */
.titre{
  text-align: center;
  color: white;
}


  #chat-messages {
    padding: 15px;
    height: 400px;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    border-radius: 5px 5px 0 0;
    background-color: #E6EAEA;
  }
  .chat-row {
    display: flex;
    align-items: center;
  }


  .chat-name {
    padding: 5px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 700;
    color: #0AD5C1;
    max-width: 100%;
    background: #2c3e50;
  }
  .chat-msg { font-size: 18px; 
  
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
    background: #f5f5f5;
    max-width: 100%;
  }
  

  .hide { display: none !important; }
  #chat-name, #chat-send {
    display: flex;
    background: #e2e2e2;
  }
  input { border: 0; }
  input[type=text] { flex-grow: 1; }
  input[type=submit] {
    width: 80px;
    color: #fff;
    background: #2a45c7;
    cursor: pointer;
  }
  input[type=submit]:disabled { background: #b9b9b9; }